* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary: #ffffff;
    --secondary: #242424;
    --secondary-alt: #3a3a3a;
    --secondary-alt-2: #1a1a1a;
    --accent: #881c1c;
    --accent-alt: #5d2a2c;
  }

section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--accent-alt);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.container {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
}

.heading {
    width: 90vw;
    height: 20vh;
    margin: 3vh;
    padding: 1vh;
    margin-bottom: 2vh;
    border: 0.2rem white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
}

.content {
    height: 80vh;
    margin: 3vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

#map-content {
    flex-direction: column;
    align-items: stretch;
}

svg {
    max-height: 70vh;
    width: 90vw;
}

#img-container {
    background-color: white;
}

.meal-container {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
}

.meal{
    border: none;
    background-color: rgb(202, 202, 202);
    font-size: 1rem;
    font-weight: bold;
    padding: 2vh;
    flex: 1;
    cursor: pointer;
    border-right: 0.01rem solid var(--accent-alt);
}

.menu-active {
    background-color: var(--primary);
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 17vw;
    height: 80vh;
    background-color: var(--secondary-alt-2);
    padding: 2vh;
    overflow: scroll;
    justify-content: space-between;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1vh;
    flex-wrap: wrap;
    width: 10vw;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.filter {
    margin-left: 0.8vw;
}

.option {
    display: flex;
    justify-content: center;
    margin: 0.2vw;
}

h2 {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
    margin: 1vh;
}

h3 {
    font-size: 0.8rem;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
}

#submit-button {
    font-size: 1rem;
}

.table {
    background-color: var(--primary);
    height: 80vh;
    width: 73vw;
    display: flex;
    flex-direction: row;
}

#menu-content {
    flex-direction: row;
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    padding: 10vw;
}

#selection {
    width: 28vw;
    overflow: scroll;
    background-color: var(--secondary);
}

#info {
    width: 45vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
    font-size: x-large;
}

.item {
    font-family: 'Open Sans', sans-serif;
    border: 0.1rem solid var(--secondary);
    padding: 1rem;
    background-color: var(--secondary);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.ing {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.item:hover {
    background-color: #575757;
    border: 0.1rem solid #575757;
}

.item-active{
    font-family: 'Open Sans', sans-serif;
    border: 0.1rem solid var(--primary);
    padding: 1rem;
    background-color: white;
    border-right: none;
    color: black;   
}

.item-active:hover{
    font-family: 'Open Sans', sans-serif;
    border: 0.1rem solid var(--primary);
    padding: 1rem;
    background-color: white;
    border-right: none;
    color: black;   
}

.filter-button {
    font-family: 'Open Sans', sans-serif;
    padding: 0.2vh;
}

#ing-header {
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
}

#ing-container {
    border: var(--secondary) solid 0.1rem;
    width: 40vw;
    height: 40vh;
    overflow: scroll;
}

li{
    font-family: 'Open Sans', sans-serif;
}


.select {
    color: var(--secondary);
    font-size: xx-large;
    cursor: pointer;
}

.select-active {
    color: orange;
}

label:hover  > .select,
label:hover ~ label > .select { color: #FFD700;  } 

/* makes the order backwards do the ~ selector can select all the stars after */
#star-container {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: inline-block;
    margin-left: 20%;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 2vh;
    font-size: 1.2rem;
}


.station {
    opacity: 0%;
    cursor: pointer;
}

.station:hover {
    opacity: 50%;
}

.station-active {
    opacity: 100%;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#star-button {
    background-color: var(--secondary);
    color: var(--primary);
    min-height: 2vh;
    box-sizing: border-box;
    border: 0.1rem solid var(--accent);
    border-radius: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.8vh;
    margin-left: 1.5vw;
}

#star-button:hover {
    background-color: var(--secondary-alt);
}


